*{
    font-family: Calibri;
}

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

image{
    align-items: center;
}

.buscar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: 2px solid #333;
    border-radius: 1px;
    padding: 10px;
    background-color: white;
}

#btnTop {
    display: none; /* oculto por defecto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: opacity 0.3s;
}

#btnTop:hover {
    background-color: #555;
}

header{
    background-color: #1a2e40; 
    text-align: center;
}

/* Botón hamburguesa */
.boton-menu {
    position: absolute;
    top: 190px;
    right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
}

.boton-menu span {
    width: 25px;
    height: 3px;
    margin: 4px 0;
    background-color: #fff;
    display: block;
}

.boton-menu:hover {
    background-color: #555;
}

/* Navegación hamburguesa */
nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;

    background-color: #1a2e40;
    position: absolute;
    top: 237px;
    right: 8px;
    width: 1433px;
    display: flex;
    justify-content: center;
    box-shadow: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid #333;
    padding: 2rem;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

nav.active {
    opacity: 1;
    visibility: visible;
}

/* Lista de enlaces */
.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-menu a:hover {
    color: #ffeaeab2;
}

a{
    text-decoration: none;
    color: black;
}

.celulares table {
    border-collapse: separate; /* mantiene separación entre celdas */
    border-spacing: 20px;      /* espacio entre columnas */
}

.celulares, .laptops, .accesorios {
    border: 2px solid #333;    /* borde alrededor de cada celda */
    border-radius: 10px;       /* esquinas redondeadas */
    padding: 15px;             /* espacio interno */
    text-align: center;        /* centra el contenido */
}

tr{
    text-align: center;
}


.Codigo{
    color: gray;
    font-size: 15px;
}

.logo{
    align-items: center;
    margin-top: 1rem;
}

footer{
    background-color: #1a2e40;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}