*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


thead{
    position: relative;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

header {
    width: 100%;
    padding: 20px 0;
    background-color: #1a2e40;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #666;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.informacion {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    align-items: center;
}

.informacion {
    margin-top: 20px;
}
.informacion h1 {
    color: #007BFF;
}
.informacion p {
    color: #555;
}