* {
    font-family: Arial, sans-serif;
}


body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Sentrar el contenido de la página */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}


header {
    background-color: #1a2e40; 
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

h1 {
    color: #333;
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #666;
}

th, td {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

th {
    background-color: #007BFF;
    border-radius: 0;
    color: white;
    font-weight: bold;
}

table, td, th {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.informacion {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

.informacion h1 {
    color: #007BFF;
}

.informacion p {
    color: #555;
}
