*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

h3{
    text-align: center;
    color: #1a2e40;
}

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

#btnTop {
    display: none; /* oculto por defecto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: opacity 0.3s;
}

#btnTop:hover {
    background-color: #555;
}


table{
    text-align: left;
    border-collapse: separate; 
    border-spacing: 10px;
}

td {
    text-align: center;
    width: 150px;
    height: auto;
    border: 2px solid #1a2e40;
    border-radius: 5px;
}

header{
    background-color: #1a2e40; 
    text-align: center;
}

nav{
    float: left;
}

nav ul li{
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;
    position: relative;
    top: 100px;  
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a::before {
    display:flow-root;
    content: '' ;
    width: 0%;
    background:rgb(254, 254, 254);
    height: 5px;
    top: 50px;
    position:absolute ;
    transition: width 0.2s;
 
}

nav ul li a:hover::before{
    width: 100%;
}

main {
    margin-left: 220px;
    padding: 20px;
}

footer{
    background-color: #1a2e40;
    color: white;
    text-align: center;
    padding: 10px;
}