*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: none;
}

table{
    text-align: left;
    border-collapse: separate; 
    border-spacing: 10px;
}

td {
    text-align: center;
    width: 150px;
    height: auto;
    border: 2px solid #1a2e40;
    border-radius: 5px;
}

header{
    background-color: #1a2e40; 
    text-align: center;
}

nav{
    float: left;
}

nav ul li{
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;
    position: relative;
    top: 100px;  
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a::before {
    display:flow-root;
    content: '' ;
    width: 0%;
    background:rgb(254, 254, 254);
    height: 5px;
    top: 50px;
    position:absolute ;
    transition: width 0.2s;
 
}

nav ul li a:hover::before{
    width: 100%;
}